body {
    font-size: 1rem;
    font-family: sans-serif;
    text-align: center;
}

.wrapper {
    font-size: 1rem;
    width: 15em;
    padding: 1em;
    margin: 1em auto;
    background-color: #888888;
    border-radius: 0.5em;
}

.nested1 {
    font-size: 1rem;
    padding: 1em;
    background-color: #dedede;
    margin-bottom: 1em;
    border-radius: 0.5em;
    text-align: center;
}

.nested2 {
    font-size: 1rem;
    padding: 1em;
    background-color: #cacaca;
    margin-bottom: 1em;
    border-radius: 0.5em;
    text-align: center;
}

.nested3 {
    font-size: 1rem;
    padding: 1em;
    background-color: #ababab;
    margin-bottom: 1em;
    border-radius: 0.5em;
    text-align: center;
}

.random {
    padding: 0 1em 1em 1em;
    text-align: center;
}
